[Unit]
Description=Responder to screen
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
User=root
ExecStart=/bin/bash /root/start_responder.sh

[Install]
WantedBy=multi-user.target